// Breadcrumbs styling

.breadcrumbs {
   width: 100%;
   ul {
      list-style-type: none;
      margin: 1em 0;
      padding: 0;
      display: flex;
   }
   li:not(:last-child):after {
      content: '»';
      margin: 0 0.4em;
      color: #777777;
   }
   a {
      color: #777777;
      font-weight: bold;
      text-decoration: none;
      &:hover {
         text-decoration: underline;
      }
   }
}
