<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">
   {{- partial "head.html" . -}}
   <body class="sans-serif flex flex-column items-center">
      <a class="skipToContent noPrint" href="#content">{{ i18n "skipToContentLnk" }}</a>
      {{- partial "site-header.html" . -}}
      <main id="content" class="mw-100">
         <div class="mw7 ph3 ph4-m ">
            {{- partial "page-breadcrumbs.html" . -}}
            {{- block "main" . }}{{- end }}
         </div>
      </main>
      {{- partial "footer.html" . -}}
      <script type="text/javascript" src="{{ .Site.BaseURL }}/js/substratum.js"></script>
   </body>
</html>
